.card-body {
    background-color:  rgb(2,48,71);
}

.card-text {
    background-color:  #023047;
    color:  rgb(251,133,1);
}

.card-title {
    background-color:  #023047;
    color:  rgb(251,133,1);
}

.headshot {
width: 15%;
height: 15%;
border-radius: 90px;
outline-width: thick;
outline-style: solid;
background-color:  #023047;
color: rgb(33,158,188);
}

.imgCard {
    background-color:  #023047;
}

.card-img {
    background-color:  #023047;
}

.headShotImgContainer {
    display: flex;
    justify-content: space-around;
    background-color:  #023047;
    margin-bottom: 25;
    border-radius: 25px;
}

.imgContainer {
  display: flex;
  justify-content: space-around;
  background-color:  #023047;
  margin-bottom: 25;

}

.Tulips {
height: 20%;
width: 100%;
}