.headerNav-container {
    background-color: rgb(255, 183, 3);
    display: block;
}

.headerName {
    background-color: rgb(255, 183, 3);
    color: #cbd0b9;
    display: flex;
    align-items: center;
}

.nav-tabs {
    justify-content: space-between;
    margin-left: auto;
    background-color: rgb(2,48,71);
}

.nav-item {
    background-color:  rgb(2,48,71);
}