.project-header {
  text-align: center;
  color: rgb(71, 16, 84);
}

.project {
  color: rgb(71, 16, 84);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
.villageImg {
  background-image: url(/src/assets/Village.png);
  min-height: 350px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.campImg {
  background-image: url(/src/assets/campsite.png);
  min-height: 350px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.workdayImg {
  background-image: url(/src/assets/workDayScheduler.png);
  min-height: 350px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.ecommerceImg {
  background-image: url(/src/assets/Ecommerce.png);
  min-height: 350px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.passwordImg {
  background-image: url(/src/assets/password.png);
  min-height: 350px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.socialImg {
  background-image: url(/src/assets/social.png);
  min-height: 350px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}
.weatherImg {
  background-image: url(/src/assets/Weather.png);
  min-height: 350px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}
